<%= form_for(auction) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :end_time %>
    <%= f.datetime_select :end_time %>
  </div>


    <%= f.file_field :images, multiple: true, help: 'Attaching images can a while.' %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
