<%- model_class = Auction -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @auction.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @auction.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:active) %>:</strong></dt>
  <dd><%= @auction.active %></dd>
  <dt><strong><%= model_class.human_attribute_name(:end_time) %>:</strong></dt>
  <dd><%= @auction.end_time %></dd>

  <dt><strong>Highest Bid:</strong></dt>
  <% if @auction.highestBid!=nil %>
      <dd><%= "#{@auction.highestBid.amount} by #{@auction.highestBid.user.name}"%></dd>
  <% else %>
      <dd>No Bids found</dd>
  <% end %>

  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @auction.user.name %></dd>
</dl>

<div>
    <% if @auction.images.first!=nil %>
        <%= image_tag(@auction.images.first.imgur_link, class: "img-responsive")%>
    <%else%>
        <p>no image found</p>
    <% end %>
</div>

<hr>
<%= link_to 'Bid on Auction', new_auction_bid_path(@auction), class: 'btn btn-primary'  %>
<%= link_to t('.back', :default => t("helpers.links.back")),
              auctions_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_auction_path(@auction), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              auction_path(@auction),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</hr>