<p>
  <strong>Name:</strong>
  <%= @auction.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @auction.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @auction.active %>
</p>

<p>
  <strong>End time:</strong>
  <%= @auction.end_time %>
</p>

<p>
  <strong>Highest bid:</strong>
  <% if (@auction.highestBid!=nil) %>
      <%= "#{@auction.highestBid.amount} by #{@auction.highestBid.user.email}" %>
  <% else %>
    currently no bids placed
  <%end%>
</p>

<p>
  <%= image_tag(@auction.images.first.imgur_link, width: 150)%>
</p>

<%= link_to 'Make bid', new_auction_bid_path(@auction) %> |
<%= link_to 'Edit', edit_auction_path(@auction) %> |
<%= link_to 'Back', auctions_path %>
