<!DOCTYPE html>
<html>
<head>
  <title>Vender</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= nav_bar inverse: false, fixed: :top, brand: "Vender", brand_link: root_path, responsive: true do%>
    <%= menu_group do %>
        <%= menu_item "Auctions", auctions_path %>
        <% if current_user %>
            <%= menu_item "My Auctions", user_auctions_path(current_user.id) %>
            <%= menu_item "My Bids", user_bids_path(current_user.id) %>
        <% end %>
    <% end %>

    <%= menu_group pull: :right do %>
        <% if current_user %>
            <%= menu_item "Edit Profile", edit_user_path(current_user.id) %>
            <%= menu_item "Logout", logout_path, method: :post %>
        <% else %>
            <%= menu_item "Register", new_user_path %>
            <%= menu_item "Login", login_path %>
        <% end %>
    <% end %>

<% end %>


<!--
<div>
  <p id="notice"><%= flash[:notice] %></p>
  <p id="alert"><%= flash[:alert] %></p>
</div>-->

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <%= bootstrap_flash %>
      <%= yield %>
    </div>
    <div class="col-lg-2">
    </div>
  </div>
</div>

</body>
</html>
